
$main-theme: #EAB543
$main-title-offsetX: 270px
$main-title-offsetY: 580px
$main-font: 'Titillium Web', sans-serif

*
  margin: 0px
  padding: 0px
  box-sizing: border-box
  

/* MAIN SCREEN / WELCOME PAGE */

#main-view
  font-family: $main-font
  width: 100%
  min-width: 1200px
  height: 100vh
  overflow: hidden
  // center splash background
  position: center
  background:
    image: url(images/image1.jpg)
    size: cover


  /* TITLE OF PAGE */

  #main-title
    margin-top: $main-title-offsetY
    margin-right: $main-title-offsetX
    float: right

    h1
      color: $main-theme
      text-transform: uppercase
      min-width: 400px
      font-size: 45px
      transition: ease-in 400ms
      span
        // two values for padding indicate top-bottom paddings then right left paddings
        padding: 0 0.2em
        background-color: black
    h2
      font-size: 23px
      padding: 0 0.2em
      background-color: $main-theme
      max-width: 470px


  /* NAVIGATION */

  nav
    // so that nav position does not push down other elements
    overflow: hidden
    min-width: 450px
    margin-left: 300px
    margin-top: 200px
    font-size: 28px
    color: $main-theme

    span#nav
      font-size: 20px
      background-color: black
      display: none
      word-spacing: 5px
      padding: 0 0.4em
      border: 1px solid black
      // individual nav button hover animations
      .resume:hover
        cursor: pointer
        font-size: 24px
      .about:hover
        cursor: pointer
        font-size: 24px
      .projects:hover
        cursor: pointer
        font-size: 24px
      .contact:hover
        cursor: pointer
        font-size: 24px
      // close button
      .nav-close
        display: none
        transition: all 300ms ease-in-out
        &:hover
          cursor: pointer
          transform: translate(-3px, 3px)
      .nav-close.show
        display: inline-block


    span#nav.show
      display: inline-block
      animation: nav-animation 500ms ease-in-out forwards
    a
      color: $main-theme
      text-decoration: none
      // slow transition when cursor over nav options
      transition: all 200ms ease-in-out

    span#menu-btn
      font-size: 25px
      transition: all 200ms ease-in-out
      cursor: pointer

    span#menu-btn:hover
      font-size: 33px


  /* About Content */

  #about 
    display: none
    margin-left: 10%
    margin-top: 7%
    max-width: 500px
    min-width: 500px
    height: 420px
    padding: 0 0.4em
    background-color: black
    opacity: 0.9
    animation: about 300ms ease-in-out forwards
    p
      font-family: $main-font
      font-size: 18px
      color: $main-theme

    h2
      margin-top: -25px
      margin-bottom: 25px
      width: 100%
      text-align: left
      font-family: $main-font
      color: $main-theme

    &.show
      display: block
    
    .close-about
      opacity: 0
      margin-top: -40px
      margin-left: 476px
      display: inline-block
      color: $main-theme
      transition: all 200ms ease-in-out
      &:hover
        cursor: pointer
        transform: scale(1.3)
      &.show
        opacity: 1


// Contact Content

$content-width: 500px
$content-height: 400px


.overlay
  // so that it stays at the first landing page and overlays it
  position: absolute
  background: black
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: none
  font-family: $main-font
  animation: overlay 400ms ease-in-out forwards

  &.show
    display: flex
    align-items: center
    justify-content: center

  
.content
  position: absolute
  display: none

  // centers content box on page
  top: 50%
  left: 50%
  right: 0
  bottom: 0
  margin-left: -$content-width*0.5
  margin-top: -$content-height*0.5
  width: $content-width
  height: $content-height
  padding: 0 0.2em
  opacity: 1
  border: 3px solid black
  background: $main-theme
  font-family: $main-font
  box-shadow: 0px 4px 20px rgba(0,0,0,0.4)
  animation: overlay2 500ms ease-in-out forwards

  .contact
    font-size: 22px
    font-weight: bold
  
  .close-btn
    position: absolute
    top: -28px
    right: -28px
    font-size: 30px
    color: #636e72
    cursor: pointer
    transition: all 200ms ease-in-out

  .intro
    position: fixed

  &.show
    display: flex
    align-items: center
    justify-content: center






/* Animations */

@keyframes nav-animation
  0%
    opacity: 0
    transform: translateX(-300px)
  100%
    transform: translateX(0px)
    opacity: 1

// contact overlay animation

// overlay opaque background
@keyframes overlay
  0%
    opacity: 0
  100%
    opacity: 0.7

// overlay content
@keyframes overlay2
  0%
    opacity: 0
  100%
    opacity: 1

// about section animation 
@keyframes about
  0%
    transform: translateX(-1000px)
  100%  
    transform: translateX(0px)


/* Responsive Design */

@media (max-width: 1000px)

  #main-title h1
    span
      margin-left: 350px
      font-size: 20px


@media (max-width: 1000px)

  #main-title h2
    margin-left: 350px
    font-size: 12px


/* Testing */
