
$main-yellow: #f8d902
$main-title-offsetX: 1100px
$main-title-offsetY: 585px
$main-font: 'Titillium Web', sans-serif

*
  margin: 0px
  padding: 0px
  box-sizing: border-box

/* MAIN SCREEN / WELCOME PAGE */

#main-view
  font-family: $main-font
  width: 100%
  height: 100vh
  // center splash background
  position: center
  background:
    image: url(images/bg.jpg)
    size: cover


  /* TITLE OF PAGE */

  #main-title
    position: fixed
    margin-left: $main-title-offsetX
    margin-top: $main-title-offsetY

    h1
      color: $main-yellow
      text-transform: uppercase
      min-width: 400px
      font-size: 45px
      transition: ease-in 400ms
      span
        // two values for padding indicate top-bottom paddings then right left paddings
        padding: 0 0.2em
        background-color: black
    h2
      font-size: 23px
      padding: 0 0.2em
      background-color: $main-yellow


  /* NAVIGATION */

  nav
    // so that nav position does not push down other elements
    position: fixed
    margin-left: 300px
    margin-top: 200px
    font-size: 28px
    color: $main-yellow
    span#nav
      font-size: 20px
      background-color: black
      display: none
      word-spacing: 5px
      padding: 0 0.4em
      border: 1px solid black
      // individual nav button hover animations
      .resume:hover
        cursor: pointer
        font-size: 24px
      .about:hover
        cursor: pointer
        font-size: 24px
      .projects:hover
        cursor: pointer
        font-size: 24px
      .contact:hover
        cursor: pointer
        font-size: 24px
      // close button
      .nav-close
        display: none
        transition: all 300ms ease-in-out
        &:hover
          cursor: pointer
          transform: translate(-3px, 3px)
      .nav-close.show
        display: inline-block


    span#nav.show
      display: inline-block
      animation: nav-animation 500ms ease-in-out forwards
    a
      color: $main-yellow
      text-decoration: none
      // slow transition when cursor over nav options
      transition: all 200ms ease-in-out

    span#menu-btn
      font-size: 25px
      transition: all 200ms ease-in-out
      cursor: pointer

    span#menu-btn:hover
      font-size: 33px


.overlay
  // so that it stays at the first landing page and overlays it
  position: absolute
  background: black
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: none
  animation: overlay 400ms ease-in-out forwards
  font-family: $main-font
  box-shadow: 0px 4px 20px rgba(0,0,0,0.4)

  .close-btn 
    position: absolute
    height: 30px
    width: 30px
    font-size: 30px
    color: #636e72
    cursor: pointer
    transition: all 200ms ease-in-out
    transform: translateY(-188px) translateX(338px)



  .content
    width: 700px
    height: 400px
    padding: 0 0.2em
    opacity: 1
    border: 15px solid black
    background: $main-yellow
    display: flex
    align-items: center
    justify-content: center

    .contact
      font-size: 25px
      font-weight: bold

  .intro
    position: fixed



.overlay.show
  display: flex
  align-items: center
  justify-content: center




/* Animations */

@keyframes nav-animation
  0%
    opacity: 0
    transform: translateX(-300px)
  100%
    transform: translateX(0px)
    opacity: 1

// overlay animation
@keyframes overlay
  0%
    opacity: 0
  100%
    opacity: 0.7


/* Responsive Design */

@media (max-width: 1000px)
  h1
    span
      font-size: 30px
  h2
    font-size: 15px


/* Testing */
